@font-face {
    font-family: 'Cascadia Code';
    src: url('../assets/fonts/Cascadia Mono PL SemiBold 600.otf') format('opentype');
}

@font-face {
    font-family: 'Yu Gothic';
    src: url('../assets/fonts/Yu Gothic Medium.ttf');
}

/* typical standard size screens will use this */
@media (max-aspect-ratio: 23/10) {
    #landingScrollspy {
        height: 110vh;
    }
}

/* atypical extra-wide screens will use these*/
@media (not (max-aspect-ratio: 23/10)) and (min-width: 400px) {
    #landingScrollspy {
        height: 350px;
    }
}

@media (not (max-aspect-ratio: 23/10)) and (min-width: 700px) {
    #landingScrollspy {
        height: 600px;
    }
}

@media (not (max-aspect-ratio: 23/10)) and (min-width: 1200px) {
    #landingScrollspy {
        height: 850px;
    }
}

@media (not (max-aspect-ratio: 23/10)) and (min-width: 1700px) {
    #landingScrollspy {
        height: 1100px;
    }
}

#landingScrollspy {
    width: 100%;
    background-image: url('../assets/backgrounds/Blue Firewatch 50LR.png');
    background-size: cover;
    background-position: center center;
}

#aboutmeScrollspy {
    background-image: linear-gradient(180deg, #0E1B23, #386481);
}

#projectsScrollspy, #resumeScrollspy {
    background-color: #F2F2F2;
}

#skillsScrollspy {
    background-color: #386481;
}

.display-1 {
    font-family: 'Cascadia Code';
}

h2, p {
    font-family: 'Yu Gothic';
}

.card-body {
    background-size: cover;
    background-position: center center;
}

.proj-1 {
    background-image: url('/assets/project thumbnails/izzatommy.site Preview.png');
}

.proj-2 {
    background-image: url('/assets/project thumbnails/Infographic Maker Preview.png');
}

.proj-3 {
    background-image: url('/assets/project thumbnails/PC Fan Visualizer Preview.png');
}

.proj-4 {
    background-image: url('/assets/project thumbnails/RoommateHub Preview.png');
}

.proj-1:hover, .card-header:hover + .proj-1 {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/assets/project thumbnails/izzatommy.site Preview.png');
    background-size: cover;
    background-position: center center;
} 

.proj-2:hover, .card-header:hover + .proj-2 {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/assets/project thumbnails/Infographic Maker Preview.png');
    background-size: cover;
    background-position: center center;
} 

.proj-3:hover, .card-header:hover + .proj-3 {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/assets/project thumbnails/PC Fan Visualizer Preview.png');
    background-size: cover;
    background-position: center center;
} 

.proj-4:hover, .card-header:hover + .proj-4 {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/assets/project thumbnails/RoommateHub Preview.png');
    background-size: cover;
    background-position: center center;
}

.card-subtitle, .card-text, .proj-btn {
    opacity: 0;
}

.card-body:hover :is(.card-subtitle, .card-text, .proj-btn), .card-header:hover + .card-body :is(.card-subtitle, .card-text, .proj-btn) {
    opacity: 1;
}

.proj-btn, .resume-btn {
    transition: 0s;
}

.proj-btn:hover, .resume-btn:hover {
    background-color: #303030!important;
    color: #F2F2F2!important;
}